* {
    outline: 1px solid tomato--;
}

.header {
    line-height: 80px;
    background: #333;
    color: #fff;
}

.header h1 {
    font-size: 0;
}

.header .header_wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .search {
    margin: 0 0 0 80px;
}

.header .gnb>ul {
    display: flex;
    gap: 60px;
}

.main_visual {
    position: relative;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
}


.main_visual .arrows>* {
    width: 35px;
    height: 75px;
}

.main_visual .arrows .left_arrow {
    background: url(../images/left_arrow.png);
}

.main_visual .arrows .right_arrow {
    background: url(../images/right_arrow.png);
}

.visual_slide .itm {
    line-height: 700px;
}

.visual_slide .itm01 {
    background: url(../images/mainvisual01.jpg) no-repeat center top/cover;
}

.visual_slide .itm02 {
    background: url(../images/mainvisual02.jpg) no-repeat center top/cover;
}

.visual_slide .itm03 {
    background: url(../images/mainvisual03.jpg) no-repeat center top/cover;
}

.main_content {
    padding: 100px 0;
}

.main_content .inner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    gap: 30px;
}

.main_content .inner .img_box {
    margin: 0 0 16px 0;
}

.main_content .inner strong {
    display: block;
    margin: 0 0 16px 0;
}

.footer {
    border-top: 1px solid #ddd;
    padding: 40px 0;
    text-align: center;
}